body {
    background: url("../images/bg.jpg") no-repeat top;
    line-height: 1.15;
}


/* 声明字体*/

@font-face {
    font-family: electronicFont;
    src: url("../font/DS-DIGIT.TTF");
}

.header {
    position: relative;
    height: 1rem;
    background: url("../images/head_bg.png") center;
    background-size: 100% 100%;
    h1 {
        font-size: .38rem;
        color: #fff;
        line-height: .8rem;
        text-align: center;
    }
    .showtime {
        position: absolute;
        top: 0;
        right: 0.3rem;
        line-height: 0.75rem;
        font-size: 0.2rem;
        color: rgba(255, 255, 255, 0.7);
        letter-spacing: .015rem;
    }
}

//公共样式
@mixin baseCape {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
}

.basePosition {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//页面主体
.main {
    min-width: 1024px;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0.1rem 0.1rem 0;
    display: flex;
    .column {
        flex: 3;
        &:nth-child(2) {
            flex: 5;
            margin: 0 .1rem .15rem;
            overflow: hidden;
            //no 数字模块
            .no {
                background: rgba(101, 132, 226, 0.1);
                padding: .15rem;
                .no-hd {
                    position: relative;
                    border: 1px solid rgba(25, 186, 139, 0.17);
                    li {
                        width: 50%;
                        height: .8rem;
                        font-size: .7rem;
                        font-family: "electronicFont";
                        color: #ffeb7b;
                        float: left;
                        text-align: center;
                        &.first {
                            position: relative;
                            &::after {
                                content: '';
                                position: absolute;
                                top: 25%;
                                right: 0;
                                width: 1px;
                                height: 50%;
                                background: rgba(255, 255, 255, 0.2);
                            }
                        }
                    }
                    &::before {
                        position: absolute;
                        content: "";
                        width: 10px;
                        height: 10px;
                        top: 0;
                        left: 0;
                        width: 30px;
                        border-top: 2px solid #02a6b5;
                        border-left: 2px solid #02a6b5;
                    }
                    &::after {
                        position: absolute;
                        content: "";
                        width: 10px;
                        height: 10px;
                        bottom: 0;
                        right: 0;
                        width: 30px;
                        border-bottom: 2px solid #02a6b5;
                        border-right: 2px solid #02a6b5;
                    }
                }
                .no-bd {
                    li {
                        padding-top: .1rem;
                        width: 50%;
                        height: .4rem;
                        font-size: .18rem;
                        font-family: "electronicFont";
                        color: rgba(255, 255, 255, 0.7);
                        float: left;
                        text-align: center;
                    }
                }
            }
            //map 地图模块
            .map {
                position: relative;
                height: 8.1rem;
                .map1 {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 5.18rem;
                    height: 5.18rem;
                    opacity: .3;
                    background: url("../images/map.png");
                    background-size: 100% 100%;
                }
                .map2 {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 6.43rem;
                    height: 6.43rem;
                    background-image: url("../images/lbx.png");
                    background-size: 100% 100%;
                    animation: rotate1 15s linear infinite;
                    opacity: .6;
                }
                .map3 {
                    @extend .basePosition;
                    width: 5.66rem;
                    height: 5.66rem;
                    background-image: url("../images/jt.png");
                    background-size: 100% 100%;
                    animation: rotate2 10s linear infinite;
                    opacity: .6;
                }
                @keyframes rotate1 {
                    form {
                        transform: translate(-50%, -50%) rotate(0deg);
                    }
                    to {
                        transform: translate(-50%, -50%) rotate(360deg);
                    }
                }
                @keyframes rotate2 {
                    form {
                        transform: translate(-50%, -50%) rotate(0deg);
                    }
                    to {
                        transform: translate(-50%, -50%) rotate(-360deg);
                    }
                }
                .chart {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                }
            }
        }
        .panel {
            position: relative;
            height: 3.1rem;
            border: 1px solid rgba(25, 186, 139, 0.17);
            background: url('../images/line(1).png');
            padding: 0 0.15rem 0.4rem;
            margin-bottom: 0.15rem;
            &::before {
                position: absolute;
                content: "";
                width: 10px;
                height: 10px;
                top: 0;
                left: 0;
                border-top: 2px solid #02a6b5;
                border-left: 2px solid #02a6b5;
            }
            &::after {
                position: absolute;
                content: "";
                width: 10px;
                height: 10px;
                top: 0;
                right: 0;
                border-top: 2px solid #02a6b5;
                border-right: 2px solid #02a6b5;
            }
            // 下边两个直角
            .panel-footer {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                &::before {
                    position: absolute;
                    content: "";
                    width: 10px;
                    height: 10px;
                    bottom: 0;
                    left: 0;
                    border-bottom: 2px solid #02a6b5;
                    border-left: 2px solid #02a6b5;
                }
                &::after {
                    position: absolute;
                    content: "";
                    width: 10px;
                    height: 10px;
                    bottom: 0;
                    right: 0;
                    border-bottom: 2px solid #02a6b5;
                    border-right: 2px solid #02a6b5;
                }
            }
            h2 {
                height: 0.48rem;
                line-height: 0.48rem;
                text-align: center;
                color: #fff;
                font-size: .2rem;
                font-weight: 400;
                a {
                    color: #fff;
                    margin: 0 .1rem;
                    font-size: .18rem;
                    &:first-of-type {
                        margin-left: .3rem;
                    }
                    &.active {
                        text-decoration: underline;
                    }
                }
            }
            .chart {
                height: 2.4rem;
            }
        }
    }
}


/* 约束屏幕尺寸 */

@media screen and (max-width: 1024px) {
    html {
        font-size: 42px !important;
    }
}

@media screen and (min-width: 1920px) {
    html {
        font-size: 80px !important;
    }
}